@model WebEve.Models.Price
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Sell)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Buy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.SolarSystem.Name)
    </td>
    <td>
        <a href="http://eve-central.com/home/quicklook.html?typeid=@Model.Item.ApiId" >See Orders</a>
    </td>
</tr>
